body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block1{
    width: 500px;
    height: 500px;
    border: 10px solid black;
}

.block2{
    width: 500px;
    height: 500px;
    border: 10px solid yellow;
}

.block3{
    width: 500px;
    height: 500px;
    border: 10px solid rgb(24, 147, 228);
    position: relative;
    top: 100px;
}